:host ::ng-deep .navi {
  li.navi-item {
    border-bottom: 1px dotted #F3F2F1;
    padding: 0;
    margin: 10px 30px;
  }

  a.navi-link {
      padding-left: 0;
      padding-right: 0;
  }

  .menu-arrow {
    display: flex;
    justify-content: flex-end;
    // color: red;
    text-align: center;
    flex: 0 0 20px;
    font-size: 1rem;

    &:before {
      //   transition: get($item, link, arrow, transition);
      //   @include ki(get($ki-types, arrowNext));
      //   [direction="rtl"] & {
      content: '>' !important;
      //   }
    }
  }
}
