<div class="card card-custom p-10 container-search">
    <div>
        <div class="text-welcome">Selamat datang di PAKAR</div>
        <div class="text-cari">Apa yang ingin Kamu cari?</div>
    </div>

    <!-- [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" -->
    <div class="card-body">
        <div class="col-lg-9 col-xxl-9">
            <div class="input-group {{show ? 'show' : ''}}">
                <input type="text" class="form-control" placeholder="Cari di PAKAR..." aria-label="Cari di PAKAR..."
                    aria-describedby="basic-addon2" [ngbTypeahead]="search" #inputSearch>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-success" type="button"
                        (click)="btnSearch(inputSearch)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <span *ngIf="searching">searching...</span>
            </div>
            <div class="dropdown show my-data" *ngIf="show">
                <div class="header-top">
                    <div>Hasil Pencarian '<b>{{keyword}}</b>'</div>
                    <a data-toggle="collapse" data-target=".my-data" class="btn btn-sm btn-primary"
                        (click)="hideResult()">X</a>
                </div>
                <ul class="navi navi-hover">
                    <li class="navi-item" *ngFor="let item of data;">
                        <span class="navi-text"><b>{{item.parent}}</b></span>
                        <ul class="navi navi-hover">
                            <li class="navi-item pl-3" *ngFor="let row of item.items;">
                                <a reouterLink="" class="navi-link">
                                    <span class="navi-text" [innerHTML]="formatter(row.title, keyword)"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>