<!-- <app-notice [svg]="'assets/media/svg/icons/Tools/Compass.svg'">
    For more info please check the components's official demos & documentation
    <a class="font-weight-bold" href="https://ng-bootstrap.github.io/#/components/buttons/examples"
        target="_blank">demos & documentation</a>
</app-notice> -->
<div class="content d-flex flex-column flex-column-fluid">

    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">Daftar Artikel</h3>
            </div>
            <div class="card-toolbar">
                <button type="button" class="btn btn-primary" [routerLink]="['/article/add']">New Data</button>
            </div>
        </div>

        <div class="card-body">
            <!-- Filter -->
            <div class="form form-label-right">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <small class="form-text text-muted"><b>Filter</b> by Status</small>
                                <select class="form-control" name="status" placeholder="Filter by Status">
                                    <option value="">All</option>
                                    <option value="1">Susspended</option>
                                    <option value="2">Active</option>
                                    <option value="3">Pending</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <small class="form-text text-muted"><b>Filter</b> by Type</small>
                                <select class="form-control" placeholder="Filter by Type" name="type">
                                    <option value="">All</option>
                                    <option value="1">Business</option>
                                    <option value="2">Individual</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <small class="form-text text-muted"><b>Search</b> in all fields</small>
                        <input type="text" class="form-control" name="searchText" placeholder="Search" value="" />
                    </div>
                </div>
            </div>

            <!-- data table -->
            <!-- <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th class="selection-cell-header" data-row-selection="true">
                        <label class="checkbox checkbox-single"><input type="checkbox"
                                (click)="grouping.selectAllRows()"
                                [checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
                    </th>
                    <th>
                        ID
                        <app-sort-icon column="id" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                            (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        FIRSTNAME
                        <app-sort-icon column="firstName" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        LASTNAME
                        <app-sort-icon column="lastName" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        EMAIL
                        <app-sort-icon column="email" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        GENDER
                        <app-sort-icon column="gender" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        STATUS
                        <app-sort-icon column="status" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        TYPE
                        <app-sort-icon column="type" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>ACTIONS</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator> -->



            <!-- Test bootstrap datatable -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Country</th>
                        <th scope="col">Area</th>
                        <th scope="col">Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let country of countries">
                        <th scope="row">{{ country.id }}</th>
                        <td>
                            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                                style="width: 20px">
                            {{ country.name }}
                        </td>
                        <td>{{ country.area | number}}</td>
                        <td>{{ country.population | number }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refreshCountries()">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="refreshCountries()">
                    <option [ngValue]="2">2 items per page</option>
                    <option [ngValue]="4">4 items per page</option>
                    <option [ngValue]="6">6 items per page</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="example-preview">
                <div class="btn-group btn-group-toggle">
                    <label class="btn-primary" ngbButtonLabel>
                        <input type="checkbox" ngbButton> Left (pre-checked)
                    </label>
                    <label class="btn-success" ngbButtonLabel>
                        <input type="checkbox" ngbButton> Middle
                    </label>
                    <label class="btn-info" ngbButtonLabel>
                        <input type="checkbox" ngbButton> Right
                    </label>
                </div>
            </div>
        </div>
    </div>

</div>