:host ::ng-deep .carousel {
  .carousel-control-next {
    width: 25px;
    right: -15px;
    margin-bottom: 20px;

    .carousel-control-next-icon {
      border-radius: 50px;
      background-color: #0078D4;
      width: 25px;
      height: 25px;
      background-size: 50%, 50%;
    }
  }

  .carousel-control-prev {
    width: 25px;
    left: -15px;
    margin-bottom: 20px;

    .carousel-control-prev-icon {
      border-radius: 50px;
      background-color: #0078D4;
      width: 25px;
      height: 25px;
      background-size: 50%, 50%;
    }
  }

}
