<div class="d-flex justify-content-between mb-10">
    <h3 class="">
        <div class="font-weight-bolder text-dark">PAKAR Terbaru</div>
        <div class="text-muted font-weight-bold font-size-sm">
            Kumpulan informasi pakar yang baru diupdate
        </div>
    </h3>
    <div class="">
        <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
            Lihat semua >
        </span>
    </div>
</div>
<ngb-carousel data-interval="false">
    <ng-template ngbSlide>
        <div class="row m-0">
            <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner"> -->
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="../../../assets/media/images/tahapan-berjangka.JPG" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                12 Oktober 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                TAHAKA (Tahapan Berjangka)
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="../../../assets/media/images/time-loan.jpg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                11 Oktober 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Time Loan - SME
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col rounded-sm mr-0 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="../../../assets/media/images/giro.jpeg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                11 Oktober 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                GIRO
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>

                <!-- NEXT BUTTON -->
                <!-- <a class="carousel-control-next w-auto" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                        aria-hidden="false"></span>
                    <span class="sr-only">Next</span>
                </a> -->
            </div>

            <!--</div>-->
            <!-- </div> -->
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row m-0">
            <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner"> -->
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="../../../assets/media/images/tahapan-berjangka.JPG" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                12 Oktober 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                TAHAKA (Tahapan Berjangka) 2
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="../../../assets/media/images/time-loan.jpg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                11 Oktober 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Time Loan - SME 2
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col rounded-sm mr-0 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="../../../assets/media/images/giro.jpeg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                11 Oktober 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                GIRO 2
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>

                <!-- NEXT BUTTON -->
                <!-- <a class="carousel-control-next w-auto" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                        aria-hidden="false"></span>
                    <span class="sr-only">Next</span>
                </a> -->
            </div>

            <!--</div>-->
            <!-- </div> -->
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row m-0">
            <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner"> -->
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="../../../assets/media/images/tahapan-berjangka.JPG" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                12 Oktober 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                TAHAKA (Tahapan Berjangka) 3
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="../../../assets/media/images/time-loan.jpg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                11 Oktober 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Time Loan - SME 3
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col rounded-sm mr-0 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="../../../assets/media/images/giro.jpeg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                11 Oktober 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                GIRO 3
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>

                <!-- NEXT BUTTON -->
                <!-- <a class="carousel-control-next w-auto" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                        aria-hidden="false"></span>
                    <span class="sr-only">Next</span>
                </a> -->
            </div>

            <!--</div>-->
            <!-- </div> -->
        </div>
    </ng-template>
</ngb-carousel>