// ::ng-deep {
//   div.content {
//     background-image: url('http://localhost:8080/themes/homepage/detault_top.svg');
//     background-repeat: no-repeat;
//     margin-top: -2px;
//     margin-left: -1px;
//   }
// }
:host {
  .container-homepage {
    // background-image: url('http://localhost:8080/themes/homepage/detault_top.svg');
    background-repeat: no-repeat;
    margin-top: -2px;
    margin-left: -1px;
    background-color: white;
  }
}

::ng-deep {
  .card-shadow {
    border: 1px solid #DDD;
    box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
  }
}
