<div class="container-homepage pt-25 px-40" style="background-image: url('{{background_image}}');">
    <app-search></app-search>
</div>
<div class="container-homepage px-40" style="
    background-image: url('./assets/media/svg/bca/homepage/{{background_category_menu}}');
    background-repeat: no-repeat;
    background-position: bottom;">
    <app-kategori-menu></app-kategori-menu>
</div>
<div class="container-homepage px-40 py-20">
    <app-recommendation></app-recommendation>
</div>
<div class="container-homepage px-40 py-10" style="
    background-image: url('./assets/media/svg/bca/homepage/pakar-new.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 286px;
">
    <app-terbaru></app-terbaru>
</div>
<div class="container-homepage px-40" style="
    background-image: url('./assets/media/svg/bca/homepage/bg-wave.svg');
    background-repeat: no-repeat;
    background-position: bottom;">
    <app-popular></app-popular>
</div>