//
// Content
//

// Desktop Mode
@include media-breakpoint-up(lg) {
  .content {
    padding: 0;

    // Fixed Footer Mode
    .footer-fixed & {
      padding-bottom: get($footer-config, fixed, height);
    }
  }
}

// Tablet & Mobile Modes
@include media-breakpoint-down(md) {
  .content {
    padding: 0;

    // Subheader Enabled & Subheader Transparent Modes
    .subheader-enabled.subheader-transparent & {
      padding-top: 0;
    }
  }
}
